.built-admin {
    margin: 5px 15px 2px;
}

.built-logo img {
    max-width: 150px;
    margin: 15px 0;
}

.built-save .button.button-built {
    background: #e42029;
    border-color: #e42029;
}

.built-save .button.button-built:hover {
    background: #951b20;
}

.built-field {
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
}

.built-label {
    min-width: 150px;
    font-weight: bold;
}

.built-dash-logo img {
    max-width: 100px;
    float: left;
    border-radius: 4px;
}

.built-dash-head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.built-dash-logo {
    margin-right: 15px;
}

.built-dash-nav span.built-nav-button {
    background: #2c3338;
    display: inline-block;
    padding: 3.5px 7.5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.built-dash-nav {
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    padding: 0 0 7.5px 0;
    margin: 0 0 7.5px 0;
}

.built-dash-nav span.built-nav-button.active,
.built-dash-nav span.built-nav-button:hover {
    background: #d5111f;
}

.built-bar-outer {
    background: #2c3338;
    height: 5px;
    border-radius: 4px;
}

.built-progress {
    margin: 0 0 15px;
}

.built-bar-inner {
    height: 5px;
    background: #e42029;
    border-radius: 4px;
    width: 0;
}

.built-bar-status {
    opacity: 0;
}

.built-loading svg {
    width: 20px;
    height: 20px;
}

.built-submit {
    display: flex;
    align-self: center;
}

.built-loading {
    display: flex;
    align-items: center;
    margin-left: 10px;
    opacity: 0;
}