#builtmighty_dashboard_widget a {
    color: #D4121F;
}

.built-panel {
    background: #1d2327;
    padding: 15px;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 5px;
}

.built-panel:last-child {
    margin-bottom: 0 !important;
}

.built-panel ul {
    background: #2c3338;
    padding: 15px;
    border-radius: 4px;
}

.built-panel ul li {
    margin: 0 0 2px 0;
}

.built-panel ul li code {
    border-radius: 4px;
    margin-left: 5px;
}

.built-flag {
    background: #D4121F;
    border-radius: 4px;
    padding: 3.5px 7px;
    display: inline-block;
}

.built-code {
    display: block;
    padding: 15px;
    border-radius: 4px;
    margin: 5px 0 0 0 !important;
}

#builtmighty_dashboard_widget a.built-button {
    background: none;
    color: #D4121F;
    text-decoration: none;
    border-radius: 4px;
    padding: 3.5px 7.5px;
    display: inline-block;
    border: 1px solid #D4121F;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

#builtmighty_dashboard_widget a.built-button:hover {
    background: #D4121F;
    color: #fff;
}

.built-issue-field input, 
.built-issue-field textarea {
    background: #2c3338;
    border: 1px solid #2c3338;
    color: #fff;
    display: block;
    width: 100%;
    border-radius: 4px;
}

.built-issue-field {
    margin: 0 0 10px 0;
}

.built-issue-field input:focus, .built-issue-field textarea:focus {
    box-shadow: none;
    border: 1px solid rgb(255 255 255 / 10%);
}

input.button.button-built {
    background: #e42029;
    border-color: #e42029;
    box-shadow: none;
}

input.button.button-built:hover,
input.button.button-built:focus {
    background: #951b20;
    border-color: #e42029;
    box-shadow: none;
}

.built-form {
    display: none;
}

.built-form.active {
    display: block;
}

.built-form-status {
    border-radius: 4px;
    padding: 5px 10px;
}

.built-form-status p {
    margin: 0;
}

.built-form-status.success {
    background: green;
}

.built-form-status.error {
    background: #951b20;
}